@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-light: #fff;
  --primary-dark: #1a1a1a;
  --primary-text-light: #333333;
  --primary-blue: #2aa7df;
  --primary-btn: #2aa7df;
  --primary-btn-color: #ffffff;
  --light-blue: #f6fbff;
  --blob-color: linear-gradient(to right, aquamarine, mediumpurple);
  --blob-size: 400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

@layer base {
  .gradient-bg {
    @apply bg-gradient-to-b from-transparent via-blue-50 to-blue-100/20;
  }
  .title {
    @apply text-[24px] md:text-[30px] lg:text-[36px] font-semibold leading-8 md:leading-9 lg:leading-10;
  }
  .uppertitle {
    @apply text-[#4D4D4D] text-xl leading-7 tracking-wider;
  }
  .subtitle {
    @apply text-2xl font-medium leading-9;
  }
  .content {
    @apply text-xs md:text-sm lg:text-base font-normal leading-4 md:leading-5 lg:leading-6 text-[#666];
  }
  .primary-btn {
    @apply rounded-md flex items-center gap-2 px-6 py-3 shadow-md bg-primary-btn text-primary-btn-text hover:bg-sky-500;
  }
}

@layer components {
  .item {
    @apply w-full  text-sm font-medium lg:text-2xl md:text-lg flex items-center justify-between gap-x-3 flex-wrap   select-none;
  }
  .accordion-content {
    @apply peer-checked:max-h-max max-h-0 basis-full  peer-checked:border-b-[2px]  border-gray-100 peer-checked:px-3  overflow-hidden transition-all duration-300 select-text text-base font-normal leading-6 text-[#666];
  }
}
* {
  scroll-behavior: smooth;
}
body {
  /* background: var(--light-blue); */
}

/* section {
  min-height: 100vh;
} */
::-webkit-scrollbar {
  display: none;
}

/* carousel start  */
.carousel__img {
  height: 300px;
  width: 100%;
}

@media (min-width: 340px) {
  .carousel__img {
    height: 300px;
    width: 100%;
  }
  /* .slick-list {
    padding: 0 0 !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .slick-slide > div {
    width: 140%;
  } */
}
@media (min-width: 425px) {
  /* .carousel__img {
    height: 500px;
    width: 100%;
  } */
}
@media (min-width: 440px) {
  /* 
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  } */
}
@media (min-width: 640px) {
  /* .slick-list {
    padding: 0 50px !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
   */
  .carousel__img {
    height: 500px;
  }
}
@media (min-width: 768px) {
  /* .slick-list {
    padding: 0 50px !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .slick-slide > div {
    width: 100%;
  } */
}
@media (min-width: 1024px) {
  /* .single__carousal {
    padding: 0 0rem;
  }
  .slick-list {
    padding: 0 50px !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .slick-slide > div {
    width: 100%;
  } */
}
@media (min-width: 1280px) {
  /* .single__carousal {
    padding: 0 3.5rem;
  }
  .slick-list {
    padding: 0 50px !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .slick-slide > div {
    width: 100%;
  } */
}
@media (min-width: 1536px) {
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  /* .single__carousal {
    padding: 0 6rem;
  }
  .slick-list {
    padding: 0 50px !important;
  }
  .carousel__img {
    height: 500px;
    width: 100%;
  }
  .slick-slide > div {
    width: 100%;
  } */
}

/* carousel end  */

/* navbar toggole button start */

.toggle__border__on:after {
  border-style: solid;
  border-width: 3px;
  border-color: #de1c1c #f06b6b #eea2a2 #f1d1d1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 0.5s ease-in-out;
  content: "";
  height: 35px;
  width: 35px;
  animation: none;
  border-radius: 4px;
  /* animation: mymove 2s normal infinite; */
}
.toggle__border__on:hover::after {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  border-radius: 50%;
  animation: mymove 2s normal infinite;
}

.toggle__border__off:after {
  border-style: solid;
  border-width: 3px;
  border-color: #1c8ede #6bb9f0 #a2cfee #d1e4f1;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 0.5s ease-in-out;
  content: "";
  height: 35px;
  width: 35px;
  animation: none;
  border-radius: 4px;
  /* animation: mymove 2s normal infinite; */
}
.toggle__border__off:hover::after {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  border-radius: 50%;
  animation: mymove 2s normal infinite;
}

@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar toggole button end */

.hero-footer {
  background-image: url("/assets/heroFooter4.png");
  filter: drop-shadow(0px -22px 10px rgba(0, 0, 0, 0.04));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 77px;
  width: 100%;
  z-index: 0;
  margin-top: 8px;
  position: relative;
}

.hero__title__underline {
  bottom: -1rem;
  left: 4rem;
  width: 200px;
}
.product__title__underline {
  bottom: -0.5rem;
  right: 18%;
  width: 200px;
}
.team__title__underline {
  bottom: -0.7rem;
  right: 20%;
  width: 180px;
}
.FAQ__title__underline {
  bottom: 1rem;
  right: 5%;
  width: 160px;
}

@media (min-width: 340px) {
  .hero-footer {
    background-image: url("/assets/heroFooter3.png");
    height: 48px;
  }
  .hero__title__underline {
    bottom: -1rem;
    left: 4rem;
    width: 200px;
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 2rem;
    width: 100px;
  }
  .product__title__underline {
    bottom: -0.5rem;
    right: 25%;
    width: 170px;
  }
  .team__title__underline {
    bottom: -0.7rem;
    right: 27%;
    width: 180px;
  }
  .FAQ__title__underline {
    bottom: -0.7rem;
    right: 25%;
    width: 160px;
  }
}
@media (min-width: 440px) {
  .hero-footer {
    background-image: url("/assets/heroFooter3.png");
    height: 59px;
  }
  .hero__title__underline {
    bottom: -1rem;
    left: 13rem;
    width: 200px;
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 2rem;
    width: 100px;
  }
  .product__title__underline {
    bottom: -0.5rem;
    right: 40%;
    width: 100px;
  }
  .team__title__underline {
    bottom: -0.7rem;
    right: 20%;
    width: 200px;
  }
  .FAQ__title__underline {
    bottom: -1rem;
    right: 34%;
    width: 170px;
  }
}

@media (min-width: 540px) {
  .hero-footer {
    background-image: url("/assets/heroFooter3.png");
    height: 68px;
  }
  .hero__title__underline {
    bottom: -1rem;
    left: 11rem;
    width: 200px;
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 3rem;
    width: 100px;
  }
  .product__title__underline {
    bottom: -1rem;
    right: 0rem;
    width: 200px;
  }
  .team__title__underline {
    bottom: -0.7rem;
    right: 30%;
    width: 200px;
  }
  .FAQ__title__underline {
    bottom: 1rem;
    right: 2%;
    width: 170px;
  }
}

@media (min-width: 640px) {
  .hero-footer {
    background-image: url("/assets/heroFooter3.png");
    height: 88px;
  }
  .hero__title__underline {
    bottom: -1rem;
    left: 4rem;
    width: 200px;
  }
  .text__underline {
    right: 9rem;
    bottom: -1.4rem;
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 3rem;
    width: 100px;
  }
  .product__title__underline {
    bottom: -1rem;
    right: 0.5rem;
    width: 200px;
  }
  .team__title__underline {
    bottom: -0.7rem;
    right: 36%;
    width: 180px;
  }
  .FAQ__title__underline {
    bottom: 1rem;
    right: 2%;
    width: 170px;
  }
}

@media (min-width: 768px) {
  .hero-footer {
    background-image: url("/assets/heroFooter3.png");
    height: 100px;
  }
  .hero__title__underline {
    bottom: -1rem;
    left: 12rem;
    width: 300px;
  }
  .text__underline {
    right: 10rem;
    bottom: -1.4rem;
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 2rem;
    width: 150px;
  }
  .product__title__underline {
    bottom: -1rem;
    right: 0.5rem;
    width: 200px;
  }
  .team__title__underline {
    bottom: -1rem;
    right: 30%;
    width: 200px;
  }
  .FAQ__title__underline {
    bottom: 0rem;
    right: 45%;
    width: 70px;
  }
}

@media (min-width: 1024px) {
  .hero-footer {
    background-image: url("/assets/heroFooter1.png");
    height: 76px;
  }
  .hero__title__underline {
    bottom: -0.5rem;
    left: 1rem;
    width: 300px;
  }
  .text__underline {
    right: 17rem;
    bottom: -1rem;
  }
  .info__up__arrow {
    width: 100px;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 4rem;
    width: 150px;
  }
  .product__title__underline {
    bottom: -1rem;
    left: 2.7rem;
    width: 200px;
  }
  .team__title__underline {
    bottom: -1rem;
    right: 24%;
    width: 250px;
  }
  .FAQ__title__underline {
    bottom: -0.7rem;
    right: 10%;
    width: 200px;
  }
}

@media (min-width: 1280px) {
  .hero-footer {
    background-image: url("/assets/heroFooter1.png");
    height: 93px;
  }
  .hero__title__underline {
    bottom: -0.5rem;
    left: 1rem;
    width: 300px;
  }
  .text__underline {
    right: 30rem;
    bottom: -1.3rem;
  }
  .info__up__arrow {
    width: 100px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 4rem;
    width: 150px;
  }
  .product__title__underline {
    bottom: -1rem;
    left: 4.5rem;
    width: 250px;
  }
  .team__title__underline {
    bottom: -1rem;
    right: 40%;
    width: 250px;
  }
  .FAQ__title__underline {
    bottom: -0.7rem;
    right: 40%;
    width: 160px;
  }
}

@media (min-width: 1536px) {
  .hero-footer {
    background-image: url("/assets/heroFooter1.png");
    height: 120px;
  }
  .hero__title__underline {
    bottom: -0.5rem;
    left: 18rem;
    width: 300px;
  }
  .text__underline {
    right: 10rem;
    bottom: -1.3rem;
  }
  .info__up__arrow {
    /* top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 */
    width: 144px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .info__title__underline {
    bottom: -0.5rem;
    left: 1rem;
    width: 180px;
  }
  .product__title__underline {
    bottom: -0.5rem;
    left: 2rem;
    width: 200px;
  }
  .team__title__underline {
    bottom: -1rem;
    right: 11%;
    width: 250px;
  }
  .FAQ__title__underline {
    bottom: -1rem;
    right: 0%;
    width: 250px;
  }
}

/* continus slider start   */
.rfm-child {
  padding: 0 0.45rem;
}
/* continus slider  end */

.PhoneInputInput {
  outline: none !important;
}
